html {
    font-size: 14rem;
}

img{
    width: 100%;
}


nav{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:768px) {
    nav{
        font-size: 18rem;
    }
    h1{
        font-size: 50rem;
    }
    img{
        width: 100%;
    }
}